*{
   padding:0;
   margin:0;
   box-sizing: border-box;
   font-size: 14px;
   font-family: sans-serif;
}
$main_black:#000;
ul, li, ol{
   list-style: none;
}
a{
   color:$main_black;
   text-decoration: none;
}
body{
   width:100%;
   height:100vh;
}